\Matching Calculations.ipynb
\Lumped Element Model Calculations.ipynb
\Lumped Element Circuit Design.vin
\Lumped Element Circuit Design.emp
\Unit Cavity Resonator Q Optimisations
\Unit Resonator L Optimisation Model.cst
\.ipynb_checkpoints
\DATA_SETS
\TEMP
\Unit Cavity Resonator Q Optimisations
\Unit Resonator L Optimisation Model
\Unit Resonator L Optimisation Model_20260423_122822
\Unit Resonator Q Optimisation Model
\Unit Resonator Q Optimisations
\Unit Resonator Q Optimisations.bak1
